<h2>Create here new word for game</h2>

<%= form_for :main_scene, url: main_scenes_path do |f| %>  



  <p>
    <%= f.text_area :secret_word %>
  </p> 

  <p>
    <%= f.submit 'Create secret word' %>
  </p>

<%end%>