<h1>Create here new word for game</h1>

<%= form_for :main_scene, url: main_scenes_path do |f| %>  



  <p>
    <%= f.label :secret_word %><br/>
    <%= f.text_area :secret_word %>
  </p> 

  <p>
    <%= f.submit 'Send message' %>
  </p>

<%end%>