<head>
  <h1>Wheel of fortune</h1>
</head>

<body>

  <table align="center">

    <%if @table != '' %>
      <% @table_hash.each do |key,value| %>
        <td>
            <button style="width:40px;height:40px" type="submit" class="btn btn-primary" width="100px"%> <%= key%> </button>&nbsp;
        </td>
      <%end%>
    <%end%>

  </table>

  <p>
      <%= link_to 'New secret word', new_main_scenes_path %> ||

      <% if defined?(@table) %>
        <%= link_to 'Guess char', edit_main_scenes_path %>
      <%end%>

  </p>
   
  

</body>