<h1>Wheel of fortune</h1>

<table align="center">

  <%if @table != '' %>
    <% @table.each do |s| %>
      <td>
          <button style="width:40px;height:40px" type="submit" class="btn btn-primary" width="100px"%>X</button>&nbsp;
      </td>
    <%end%>
  <%end%>

</table>

<p>
    <%= link_to 'New secret word', new_main_scenes_path %>
</p>
    